<div class="bg-white p-5">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="p-5">
    {{ musician | json }}

    <app-image-input
      [formGroup]="editForm"
      (selectedImage)="onFileSelected($event)"
      name="image"
    />

    <app-input-form
      [additionalErrors]="errors"
      [errors]="{
          required: 'Name is required!',
        }"
      [formGroup]="editForm"
      inputType="text"
      name="name"
    />

    <app-checkboxes
      [defaultValues]="musician?.genres"
      [formGroup]="editForm"
      [options]="genres"
      [errors]="{
        required: 'Genre is required!',
      }"
      name="genre"
    />

    <button
      type="submit"
      [disabled]="editForm.invalid"
      class="
        inline-flex items-center
        px-3 py-2 m-3 bg-gray-800
        border border-transparent text-xs rounded text-white uppercase
        hover:bg-gray-700 focus:bg-gray-700
        active:bg-gray-900 focus:outline-none
      "
    >{{editing ? "Save" : "Add"}}</button>

  </form>
</div>
