<div class="bg-white p-5">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="p-5">
    <ng-container *ngIf="formLoaded">

      <app-text-input
        [additionalErrors]="errors"
        [errors]="{
          required: 'Title is required!',
          minlength: 'Minimum characters is 5!',
          maxlength: 'Maximum characters is 50!',
        }"
        [formGroup]="editForm"
        inputType="text"
        name="title"
      />

      <app-textarea-input
        [additionalErrors]="errors"
        [errors]="{
          required: 'Content is required!',
          maxlength: 'Maximum characters is 500!',
        }"
        [formGroup]="editForm"
        name="content"
      />

      <app-text-input
        [additionalErrors]="errors"
        [errors]="{
          required: 'Priority is required!',
          min: 'Minimum value is 1!',
          max: 'Maximum value is 5!',
        }"
        [formGroup]="editForm"
        inputType="number"
        name="priority"
      />

      <app-datetime-input
        [formGroup]="editForm"
        name="deadline"
      />

      <app-text-input
        [additionalErrors]="errors"
        [errors]="{
          required: 'Tags are required!',
        }"
        [formGroup]="editForm"
        inputType="text"
        name="tags"
      />

      <app-dropdown
        [options]="[
          {'key': 0, 'value': 'Private'},
          {'key': 1, 'value': 'Public'},
        ]"
        [formGroup]="editForm"
        name="visibility"
      />

      <app-dropdown
        [options]="categories"
        [formGroup]="editForm"
        name="category"
      />

    </ng-container>

    <app-submit-button
      [formInvalid]="editForm.invalid"
      [editing]="editing"
    />

  </form>
</div>
