<div class="container p-5 sm:p-8 bg-white shadow sm:rounded-lg">

  <div class="text-center mb-5">
    <h1 class="font-bold">Songs</h1>
  </div>

  <div>
    <app-search-bar
      [fields]="['title', 'genre', 'length', 'releaseDate', 'authors', 'musician']"
      (searchItemEmitter)="search($event)"
      (filterEmitter)="filter($event)"
    />
  </div>

  <ng-container *ngIf="authService.getAuthToken()">
    <app-button
      route="/songs/add"
      buttonText="Add song"
    />
  </ng-container>

  <div *ngFor="let song of songs" class="mt-5">
    <app-song-preview [song]="song"/>
  </div>

  <div class="d-flex justify-content-center m-5">
    <button (click)="goToPrevPage()" [disabled]="!prevPageUrl">Previous Page</button>
    <button (click)="goToNextPage()" [disabled]="!nextPageUrl">Next Page</button>
  </div>
</div>
