<div class="bg-white p-5">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="container">
      <app-text-input
        name="name"
        inputType="text"
        [formGroup]="registerForm"
        [errors]="{
          required: 'Name is required!',
          maxlength: 'Max length is 255 characters!',
        }"
        [additionalErrors]="this.errors"
      />
    </div>

    <div class="mb-5">
      <app-text-input
        name="email"
        inputType="text"
        [formGroup]="registerForm"
        [errors]="{
          required: 'Email is required!',
          email: 'This input should be an email!',
          maxlength: 'Max length is 255 characters!',
        }"
        [additionalErrors]="this.errors"
      />
    </div>

    <div class="container">
      <app-text-input
        name="password"
        inputType="password"
        [formGroup]="registerForm"
        [errors]="{
          required: 'Password is required!',
          minlength: 'Min length is 8 characters!',
        }"
        [additionalErrors]="this.errors"
      />
    </div>

    <div class="container">
      <app-text-input
        name="confirmPassword"
        inputType="password"
        [formGroup]="registerForm"
        [errors]="{
          required: 'Confirmation password is required!',
          minlength: 'Min length is 8 characters!',
        }"
        [additionalErrors]="getAdditionalErrors()"
      />
    </div>

    <button
      [disabled]="registerForm.invalid"
      class="inline-flex items-center
        px-3 py-2 m-3 bg-gray-800
        border border-transparent text-xs rounded text-white uppercase
        hover:bg-gray-700 focus:bg-gray-700
        active:bg-gray-900 focus:outline-none
      "
      type="submit"
    >Register</button>
  </form>
</div>
