<div class="container p-5 sm:p-8 bg-white shadow sm:rounded-lg">
  <div class="mb-5">
    <h1 class="text-3xl font-semibold text-gray-800 mb-4">Statistics</h1>
    <p class="text-lg text-gray-600">
      Insightful stats on musicians, songs, and events, all in one place.
    </p>
  </div>

  <app-hr/>

  <ng-container *ngIf="authService.getAuthToken()">
    <div class="mb-5">
      <h1 class="text-2xl font-semibold text-gray-800 mb-4">My statistics</h1>

      <app-hr/>

      <div class="flex flex-col justify-center items-center">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4">Most listened genres</h1>

        <ng-container *ngIf="genreCount.length > 0; else noData">
          <app-pie-chart
            [data]="genreCount"
            [showLegend]="false"
          ></app-pie-chart>
        </ng-container>

        <ng-template #noData>
          <h3 class="text-gray-800">Not enough data available for this graph.</h3>
        </ng-template>
      </div>

      <app-hr/>
    </div>
  </ng-container>
</div>
