<nav>
  <ul>
    <li *ngIf="loggedIn">
      <app-button
        (click)="logout()"
        buttonText="Logout"
      />

      <app-button
        buttonText="Profile"
        routerLink="/profile"
      />
    </li>

    <li *ngIf="!loggedIn">
      <app-button
        buttonText="Login"
        routerLink="/login"
      />

      <app-button
        buttonText="Register"
        routerLink="/register"
      />
    </li>

    <li>
      <app-button
        buttonText="Musicians"
        routerLink="/musicians"
      />
    </li>
    <li>
      <app-button
        buttonText="Songs"
        routerLink="/songs"
      />
    </li>
    <li>
      <app-button
        buttonText="Events"
        routerLink="/events"
      />
    </li>
    <li>
      <app-button
        buttonText="Notes"
        routerLink="/notes"
      />
    </li>
  </ul>
</nav>
