<div class="container p-5 sm:p-8 bg-white shadow sm:rounded-lg">
  <div *ngIf="authService.getLukaAuthToken(); else loginComponent">
    <div class="text-center mb-5">
      <h1 class="font-bold">Notes</h1>
    </div>

    <div>
      <app-search-bar/>
    </div>

    <ng-container *ngIf="authService.getAuthToken()">
      <app-button
        route="/notes/add"
        buttonText="Add note"
      />
    </ng-container>

    <div *ngFor="let note of notes" class="mt-5">
      <app-note-preview [note]="note"/>
    </div>
  </div>

  <ng-template #loginComponent>
    <div class="p-5 text-center">
      <h1>
        To access your notes, you need to authenticate on Lukas' app.
        Create an account on his site, and use the credentials to authenticate.
      </h1>
    </div>

    <app-login-form
      [lukaApp]="true"
      (authenticated)="getNotes()"
    />
  </ng-template>
</div>
