<div class="container p-5 sm:p-8 bg-white shadow sm:rounded-lg">

  <div class="text-center mb-5">
    <h1 class="font-bold">Musicians</h1>
  </div>

  <div>
    <app-search-bar/>
  </div>

  <ng-container *ngIf="authService.getAuthToken()">
    <app-button
      route="/musicians/add"
      buttonText="Add musician"
    />
  </ng-container>

  <div *ngFor="let musician of musicians" class="mt-5">
    <app-musician-preview [musician]="musician"/>
  </div>

  <div class="d-flex justify-content-center m-5">
    <button (click)="goToPrevPage()" [disabled]="!prevPageUrl">Previous Page</button>
    <button (click)="goToNextPage()" [disabled]="!nextPageUrl">Next Page</button>
  </div>
</div>
