<div class="w-full mb-5">
  <div class="">
    <div class="mb-3">
      <label class="block font-medium text-sm text-gray-700 mb-2">
        <b>Sort by: </b>
        <ng-container *ngFor="let field of fields">
          <span
            (click)="filter(field)"
            style="cursor: pointer"
            [class]="ordersMap[currentField] !== '' && field === currentField ? 'uppercase' : ''"
          >{{field}} </span>
        </ng-container>
      </label>
    </div>

    <app-span
      title="Order"
      [data]="ordersMap[currentField]"
    />
  </div>

  <div class="flex items-center ">
    <input
      #SearchItem
      [(ngModel)]="searchItem"
      type="text"
      placeholder="Search by keyword . . ."
      name="keyword"
      class="border border-gray-200 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm block p-2 text-sm w-full"
    >
    <button
      class="searchButton"
      (click)="search(SearchItem.value)"
    >Search</button>
  </div>
</div>
