<div class="mb-4">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <app-input-form
        name="email"
        inputType="text"
        [formGroup]="loginForm"
        [errors]="{
          required: 'Email is required!',
          email: 'This input should be an email!',
          maxlength: 'Max length is 255 characters!',
        }"
      />

      <app-input-form
        name="password"
        inputType="password"
        [formGroup]="loginForm"
        [errors]="{
          required: 'Password is required!',
          minlength: 'Min length is 8 characters!',
        }"

      />

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>

  </form>
</div>
