<div class="container p-5 sm:p-8 bg-white shadow sm:rounded-lg">
  <div *ngIf="authService.getLukaLoggedUser()?.id === note?.user_id">
    <div class="flex justify-between items-center mb-4">
      <app-button
        [route]="'/notes/edit/' + note.id"
        buttonText="Edit note"
      ></app-button>

      <button
        (click)="removeNote(note.id)"
        class="
          inline-flex items-center
          px-3 py-2 m-3 bg-red-800
          border border-transparent text-xs rounded text-white uppercase
          hover:bg-red-700 focus:bg-red-700
          active:bg-red-900 focus:outline-none
        "
      >Remove note</button>
    </div>
  </div>

  <div class="flex justify-between items-center p-3">
    <h2><strong>{{ note.title }}</strong></h2>
  </div>

  <hr class="mb-3">

  <div class="p-3">
    <app-span
      title="Content"
      [data]="note.content"
    />

    <app-span
      title="Category"
      [data]="note?.category?.title"
    />

    <app-span
      title="Deadline"
      data="{{note.deadline | date:'medium'}}"
    />

    <app-span
      title="Priority"
      [data]="note.priority"
    />

    <app-span
      title="Tags"
      [data]="note.tags"
    />

    <app-span
      title="Public"
      [data]="note.public ? 'Yes' : 'No'"
    />

  </div>
</div>
