<div [formGroup]="formGroup" class="p-6">
  <div>

    <label for="{{name}}">
      <span id="{{name}}">{{name | titleCase}}:</span>
    </label><br/>

    <input type="{{inputType}}" formControlName="{{name}}" required/>

    <div *ngIf="formGroup.get(name)?.invalid && (formGroup.get(name)?.dirty || formGroup.get(name)?.touched)">
      <div *ngFor="let key of Object.keys(errors)">
        <div *ngIf="formGroup.get(name)?.errors?.[key]">
          {{ errors[key] }}
        </div>
      </div>
    </div>

  </div>
</div>
