<article class="border mb-5 justify-content-between align-items-center sm:p-7 bg-gray-100 shadow sm:rounded-lg">
  <div class="d-flex justify-content-between align-items-center">
    <div class="flex justify-between items-center pb-6 pl-5">
      <div class="flex items-center">
        <h2 class="ml-3"><strong>{{ song.title }}</strong></h2>
      </div>

      <app-button
        [route]="'/songs/' + song.id"
        buttonText="More Details"
        buttonStyle="margin-left: auto;"
      ></app-button>
    </div>
    <app-hr/>
  </div>

  <div class="mt-5">
    <app-span
      title="Length"
      [data]="song.length + 's'"
    />

    <app-span
      title="Release date"
      [data]="song.releaseDate"
    />
  </div>

</article>
