<div class="container p-5 sm:p-8 bg-white shadow sm:rounded-lg">
  <div class="container">
    <div *ngIf="authService.getAuthToken()">
      <app-button
        [route]="'/musicians/edit/' + musician.id"
        buttonText="Edit musician"
      />

      <button
        class="
          inline-flex items-center
          px-3 py-2 m-3 bg-gray-800
          border border-transparent text-xs rounded text-white uppercase
          hover:bg-gray-700 focus:bg-gray-700
          active:bg-gray-900 focus:outline-none
        "
        (click)="removeMusician(musician.id)"
      >Remove musician</button>
    </div>

    <div class="container">
      <span>Added by user: <b>{{ musician?.user?.name }}</b></span>
    </div>
    <hr>

    <div class="d-flex align-items-center">
      <img
        [ngSrc]="'http://localhost:8000/images/musicians/' + musician.image"
        style="border-radius: 30%"
        alt="Musician Image"
        width="50"
        height="50"
      >
      <b>{{ musician.name }}</b>
    </div>
    <hr>

    <div class="container">
      <app-unordered-list
        [items]="musician.genres"
        target="name"
        title="genres"
      />
    </div>
    <hr>

    <div *ngIf="musician?.events?.length > 0" class="container">
      <app-unordered-list
        [items]="musician.events"
        target="name"
        title="performing in events"
      />
    </div>
    <hr>

    <div *ngIf="musician?.songs?.length > 0" class="container">
      <app-unordered-list
        [items]="musician.songs"
        target="title"
        title="performing in songs"
      />
    </div>
  </div>
</div>
